/* src/components/FloatingWriteButton.css */
.floating-write-button {
  position: fixed;
  bottom: 80px;         /* 下のバーより少し上 */
  right: 20px;          /* 右端からの位置 */
  background-color: #0b7cf5; /* オレンジ系の色 */
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  }
  